<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flybian.vote.dao.VoteInfoMapperDao">
    <resultMap id="VoteInfoDto" type="com.flybian.vote.datastruct.dto.VoteInfoDto">
        <id property="id" column="id" javaType="java.lang.String"></id>
        <result property="create_user" column="create_user" javaType="java.lang.String"></result>
        <result property="create_time" column="create_time" javaType="java.lang.String"></result>
        <result property="vote_type" column="vote_type" javaType="int"></result>
        <result property="vote_topic" column="vote_topic" javaType="java.lang.String"></result>
        <result property="vote_description" column="vote_description" javaType="java.lang.String"></result>
        <result property="vote_deadline" column="vote_deadline" javaType="java.lang.String"></result>
    </resultMap>

    <resultMap id="VoteOptionDto" type="com.flybian.vote.datastruct.dto.VoteOptionDto">
        <id property="id" column="id" javaType="java.lang.String"></id>
        <result property="option" column="option" javaType="java.lang.String"></result>
        <result property="vote_id" column="vote_id" javaType="java.lang.String"></result>
    </resultMap>

    <insert id="addNewVote" useGeneratedKeys="true" keyProperty="id" parameterType="com.flybian.vote.datastruct.dto.VoteInfoDto">
        insert into vote_info (id,create_user,create_time,vote_type,vote_topic,vote_description,vote_deadline)
        values
        (#{id},#{create_user},#{create_time},#{vote_type},#{vote_topic},#{vote_description},#{vote_deadline})
    </insert>

    <insert id="addVoteOption" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
        insert into vote_option (id,vote_option,vote_id) values
        <foreach collection="list" open="" close=""  item="item" index="index" separator=",">
          (#{item.id}, #{item.vote_option}, #{item.vote_id})
        </foreach>
    </insert>

    <select id="getVoteInfo" resultMap="VoteInfoDto" parameterType="java.lang.String">
        select* from vote_info where create_user = #{user_id}
    </select>

    <select id="getVoteInfoById" resultMap="VoteInfoDto" parameterType="java.lang.String">
        select* from vote_info where id = #{id}
    </select>
    <select id="getVoteOption" resultMap="VoteOptionDto" parameterType="java.lang.String">
        select * from vote_option where vote_id = #{vote_id}
    </select>
    <select id="getVoteOptionStringById" resultType="java.lang.String" parameterType="java.lang.String">
        select vote_option from vote_option where id = #{id}
    </select>
</mapper>