<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace：必须与对应的接口全类名一致
    id:必须与对应接口的某个对应的方法名一致

 -->

<mapper namespace="com.flybian.vote.dao.UserInfoMapperDao">
    <resultMap id="UserInfoDto" type="com.flybian.vote.datastruct.dto.UserInfoDto">
        <id property="id" column="id" javaType="java.lang.String"></id>
        <result property="username" column="username" javaType="java.lang.String"></result>
        <result property="nickname" column="nickname" javaType="java.lang.String"></result>
        <result property="password" column="password" javaType="java.lang.String"></result>
        <result property="birthday" column="birthday" javaType="java.lang.String"></result>
        <result property="age" column="age" javaType="int"></result>
        <result property="mobile" column="mobile" javaType="java.lang.String"></result>
        <result property="email" column="email" javaType="java.lang.String"></result>
        <result property="create_time" column="create_time" javaType="java.lang.String"></result>
        <result property="create_type" column="create_type" javaType="java.lang.String"></result>
        <result property="modify_time" column="modify_time" javaType="java.lang.String"></result>
        <result property="status" column="status" javaType="int"></result>
    </resultMap>

    <insert id="addNewUser" useGeneratedKeys="true" keyProperty="id">
        insert into user_info(id,username,nickname,password,birthday,age,mobile,email,status,create_time,create_type,modify_time)
        values
        (#{id},#{username},#{nickname},#{password},#{birthday},#{age},#{mobile},#{email},#{status},#{create_time},#{create_type},#{modify_time})
    </insert>

    <update id="modifyUser" >
        update user_info set username=#{username},age=#{age} where id=#{id}
    </update>

    <delete id="delete" >
        delete from user_info where id = #{id}
    </delete>

    <select id="getUserInfo" resultMap="UserInfoDto" parameterType="java.lang.String">
        select * from user_info where id = #{id}
    </select>
</mapper>